{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="details-interaction interaction-add is-active" data-help="Starts the process of adding attributes.">
    <div class="interaction-icon fa fa-plus">
    </div>
    <div class="interaction-text">
        Add
    </div>
</div>
<div class="details-interaction interaction-remove is-active" data-help="Starts the process of removing attributes.">
    <div class="interaction-icon fa fa-minus">
    </div>
    <div class="interaction-text">
        Remove
    </div>
</div>
<div class="details-interaction interaction-hideshow" data-help="Allows showing / hiding of specific attributes.">
    <div class="interaction-icon fa fa-eye">
    </div>
    <div class="interaction-text">
        Hide / Show
    </div>
</div>
<div class="details-interaction interaction-rearrange" data-help="Allows rearranging the order of attributes.">
    <div class="interaction-icon fa fa-exchange">
    </div>
    <div class="interaction-text">
        Rearrange
    </div>
</div>