//namespace
@customElementNamespace: intrigue-;

//fonts
@import "font-families.less";

//sizing
@minimumButtonSize: 2.75rem;  //44px
@minimumLineSize: 1.875rem;   //30px
@border-radius: 1px;

//screensizes
@minimumScreenSize: 20rem; //320px
@mobileScreenSize: 26.25rem; //420px
@smallScreenSize: 58.75rem;  //940px
@mediumScreenSize: 90rem;  // 1440px

//z-indexes
@zIndexMenubar: 101;
@zIndexLightbox: 101;
@zIndexLoadingCompanion: 101;
@zIndexSlideout: 103;
@zIndexContent: 101;
@zIndexConfirmation: 103;
@zIndexHelp: 104;
@zIndexVerticalMenu: 101;
@zIndexDropdown: 103;
@zIndexMenuItem: 102;
@zIndexBlocking: 105;

//transitions
@transitionTime: .0s;
@coreTransitionTime: .250s;

//font sizes
@minimumFontSize: 1rem;
@mediumFontSize: 1.2rem;
@largeFontSize: 1.4rem;

//spacing
@minimumSpacing: 0.625rem;
@mediumSpacing: 2 * @minimumSpacing;
@largeSpacing: 3 * @minimumSpacing;

//dividers.
@dividerHeight: .0625rem;
@minimumDividerSize: @dividerHeight + 2*@minimumSpacing;

//opacity
@minimumOpacity: 0.6;

@theme: special;

@import 'fonts.less';

.theme() when (@theme = light) {

    //color palette
    @primary-color: #3c6dd5;
    @positive-color: #428442;
    @negative-color: #8a423c;
    @warning-color: #c89600;
    @favorite-color: #d1d179;
    @links-visited-color: #9874e4;
    @links-color: @primary-color;

    //color usage
    @backgroundNavigation: white;
    @backgroundAccentContent: white;
    @backgroundDropdown: white;
    @backgroundContent: white;
    @backgroundModal: white;
    @backgroundSlideout: white;
    @button-text-color: white;

    @import "mixins.less";
    @import "util.less";
    @import "components/init.less";
}

.theme() when (@theme = dark) {

    //color palette
    @primary-color: #3c6dd5;
    @positive-color: #428442;
    @negative-color: #8a423c;
    @warning-color: #c89600;
    @favorite-color: #d1d179;
    @links-visited-color: #9874e4;
    @links-color: @primary-color;

    //color usage
    @backgroundNavigation: #252529;
    @backgroundAccentContent: #2A2A2E;
    @backgroundDropdown: #35353a;
    @backgroundContent: #35353a;
    @backgroundModal: #252529;
    @backgroundSlideout: #252529;
    @button-text-color: white;

    @import "mixins.less";
    @import "util.less";
    @import "components/init.less";
}

.theme() when (@theme = special) {

    //color palette
    @primary-color: #507d88;
    @positive-color: #719c3b;
    @negative-color: #a12d0f;
    @warning-color: #b45e29;
    @favorite-color: #d1d179;
    @links-visited-color: #9874e4;
    @links-color: @primary-color;

    //color usage
    @backgroundNavigation: rgb(159, 214, 255);
    @backgroundAccentContent: rgb(3, 4, 6);
    @backgroundDropdown: rgb(255, 247, 247);
    @backgroundContent: rgb(242, 221, 221);
    @backgroundModal: white;
    @backgroundSlideout: rgb(11, 9, 9);
    @button-text-color: white;

    @import "mixins.less";
    @import "util.less";
    @import "components/init.less";
}

.theme();