@{customElementNamespace}dev-dev {
    .customElement;

    .section {
        padding: @minimumSpacing;
    }
    .is-header {
        text-align: left;
        padding: @minimumSpacing 0px;
    }
    .example,
    .instance {
        padding: @minimumSpacing;
    }
    .example .title {
        .is-medium-font();
        padding: @minimumSpacing 0px;
    }
    .limit-to-center {
        max-width: 800px;
        margin: auto;
        padding: @minimumSpacing;
    }
    .pad-bottom {
        padding-bottom: 30%;
    }
}